@mixin buttonHover($bg, $color){
    background-color: $bg;
    color: $color;
    
    transition-duration: .5s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}