.quote{
    span{
        font-size: 50px;
    }
    &__content{
        display: flex;
        span:nth-child(1){
            align-self: start;
        }
        p{
            margin: 20px;
        }
        span:nth-child(3){
            align-self: end;
        }
    }
    padding: 50px 0;
    color: white;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}